* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'roboto', sans-serif;
}

.a {
    text-decoration: none;
    background: rgb(5, 55, 219); 
    color: white;
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: rgb(5, 55, 219);
    color:#eee;
    border-radius:5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: rgb(64, 171, 207);
}

 .headline { 
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
 } 

/* navbar */

#navbar {
    width: 100%;
    background: rgb(182, 61, 5);
    color: white; 
    height: 80px;
    position:fixed;
}


#navbar-container {
    width: 80%;
    height: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
 
.logo {
    font-size: 2rem;
}
 
#navbar-itens {
    display: flex;
    list-style: none; 
    text-transform: uppercase;  
    
    
}



#navbar-itens li a {
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color:#eee;

   
}

/* showcase */

#showcase {
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('img1.PNG') no-repeat center center/cover;
    
    /* overlay */

    background-color:rgba(0, 0,0 , 0.2) ;
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 3.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}
/* ---------- */

#concursosabertos {
    height: 40vh;
    width: 100%;
    background: #eee;
    color:#111;
    padding: 50px;
}
.concursosabertos {
    display: inline-block;
    width: 20%;

}

#concursosabertos-container  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 5px;
    
}



/* tabela  */
#editais-container {
    padding: 1rm;
    display: flex;
    justify-content: center;
}

table {
    width: 80%;

    border-collapse: separate;
    margin: 1rem 0;
    background-color: #f9f9f9;
    border-spacing: 0 10px;

}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.75rem;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 

}


tr:hover {
    background-color: #ddd;
}

img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

 #editais { 
    width: 100%;
    background: #7babe2;
    color:#111;
    padding: 60px;
}

/* ----------- */
#produto {
    width: 100%;
    background:darkgray;
    color:#111;
    padding: 25px;
}
.produto  {
    display: inline-block;
    width: 50%;

}

#produto-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 20px;
}

/* pagamento */

#pagamento {
    width: 100%;
    background: white;
    color:#111;
    padding: 5px;
}
.iconpagamento  {
    display: inline-block;
    text-align: right;
    width: 10%;

}

#pagamento-container {
    
    display: grid; 
    grid-template-columns: repeat(1, 1fr);  
    justify-items:left;
    padding: 5px; 
    text-align:left;
}

#footer {
    color:#110c0c;
    padding: 5px;
    text-align: center;
}




    
    
    




    
    
    


